<h1>showterm.io</h1>

<p>Allows you to easily record a console session and upload it for anyone to share.</p>

<h2>Credits</h2>

<ul>
    <li>term.js from Christopher Jeffrey's awesome <a href="https://github.com/chjj/tty.js">tty.js</a></li>
    <li><a href="http://unixhelp.ed.ac.uk/CGI/man-cgi?script">script</a> the long-forgotten UNIX tool for recording terminal sessions.</li>
    <li>A bit of glue, jQuery and rails, by me <a href="http://cirw.in">Conrad Irwin</a></li>
</ul>

<p>NOTE: if your terminal looks odd when recorded, try resizing it to 80 columns and trying again.</p>

