<div class="mainpage">
    <div style="float:right">Sponsored by <a style="text-decoration: none; border-bottom: 1px solid white; padding-bottom: 1px" href="https://bugsnag.com">Bugsnag</a>!</div>
    <h1 class="logo">showterm</h1>

    <div style="float:right"><img src="/vt100.png"></div>

    <nav style="margin-left: 10px">
        <a href="#install">install</a>
        <a href="#use">use</a>
        <a href="#link">link</a>
    </nav>

    <div style="float: right">
        <a href="https://twitter.com/share?url=http://showterm.io/&text=Awesome text-based terminal screencasts!" class="twitter-share-button" data-lang="en">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>

    <p>It's showtime in a terminal near you! Put on your best colours,
        resize to 80 columns, and let your fingers fly!</p>

    <p>Termshows are purely text based. This makes them ideal for demoing
        instructions (as the user can copy-paste), making fail-safe
        "live-coding" sessions (plain text is very scalable), and sharing all
        your l33t terminal hacks.</p>

    <p>Installation instructions have been showtermed for your enjoyment :)</p>

    <iframe src="/7b5f8d42ba021511e627e" width="660" height="360" style="border: 1px solid #444"></iframe>

    <h2 id="install">Install</h2>

    <p>There are two ways to install showterm. The recommended way is to use ruby:</p>

    <ul>
        <li>gem install showterm</li>
    </ul>

    <p>This works for all Mac users, and Linux users with ruby configured correctly.</p>

    <p>If you are a Linux user who does not have ruby configured correctly, you can
    install showterm with:</p>

    <ul>
        <li>curl showterm.io/showterm &gt; ~/bin/showterm</li>
        <li>chmod +x ~/bin/showterm</li>
    </ul>

    <h2 id="use">Use</h2>

    <p>If you have installed showterm, you can just run it:</p>

    <ul>
        <li>showterm [program to run]</li>
    </ul>

    <p>If [program to run] is omitted it defaults to your shell (usually bash)</p>

    <p>If you have not installed showterm, you can run the standalone version:</p>

    <ul>
        <li>bash &lt;(curl record.showterm.io)</li>
    </ul>

    <h2 id="link">Linking</h2>

    <p>Each termshow gets its own link. You can add hash-fragments to customize playback,</p>

    <ul>
        <li><a href="http://showterm.io/7b5f8d42ba021511e627e">http://showterm.io/7b5f8d42ba021511e627e#slow</a>
            — realtime</li>
        <li><a href="http://showterm.io/7b5f8d42ba021511e627e#fast">http://showterm.io/7b5f8d42ba021511e627e#fast</a>
            — double-speed</li>
        <li><a href="http://showterm.io/7b5f8d42ba021511e627e#stop">http://showterm.io/7b5f8d42ba021511e627e#stop</a>
            — stopped</li>
    </ul>
    <p>access the site over https,</p>
    <ul>
        <li><a href="https://showterm.io/7b5f8d42ba021511e627e">https://showterm.io/7b5f8d42ba021511e627e</a>
        — secure!</li>
    </ul>

    <p>and embed termshows in your own website with iframes.</p>

    <div style="border: 1px solid #444; font-size: small; padding: 10px; width: 642px">
        &lt;iframe src="http://showterm.io/7b5f8d42ba021511e627e" width="640" height="480">&lt;/iframe>
    </div>

    <h2>Credits</h2>

    <ul>
        <li>term.js from Christopher Jeffrey's awesome <a href="https://github.com/chjj/tty.js">tty.js</a></li>
        <li><a href="http://unixhelp.ed.ac.uk/CGI/man-cgi?script">script</a> the long-forgotten UNIX tool for recording terminal sessions.</li>
        <li><a href="http://0xcc.net/ttyrec/">ttyrec</a> Saturo Takabayashi's upgrade of script</li>
        <li><a href="https://bugsnag.com">Bugsnag, Inc.</a>, the exception monitoring tool, for hosting.</li>
    </ul>

    <p>The code is hosted on Github (<a
            href="https://github.com/ConradIrwin/showterm">client</a>, <a
            href="https://github.com/ConradIrwin/showterm.io">server</a>). Please
        file issues if you need anything!</p>

    <p> ~ <a href="http://cirw.in">Conrad Irwin</a> </p>
