<script>
    // FIXME... just using 'j' leaves everything HTML escaped too
    window.scriptfile = <%=raw_json @script.scriptfile %>;
    window.timingfile = <%=raw_json @script.timingfile %>;
    window.columns = <%= raw_json @script.cols %>;
    window.lines = <%=raw_json @script.lines %>;
</script>
<style>
    body { overflow: hidden }
</style>

<div class="controls">
    <a style="text-decoration: none; font-weight: bold" href="/"><span style="color: #0087d7; letter-spacing: -2.5px; margin-right: 1px">$://</span>showterm</a>
    <div class="slider"></div>
    <a href="#slow">slow</a>
    <a href="#fast">fast</a>
    <a href="#stop">stop</a>
</div>
