/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

h2 {
    margin-top: 40px;
}

.logo {
    font-weight: bold;
}

.logo:before {
    content: "$://";
    color: #0087d7;
    font-weight: bold;
    letter-spacing: -0.2em;
    margin-right: 0.1em;
}

.mainpage {
    margin-left: 20px;
    width: 660px;
    margin:auto;
    color: rgb(255, 248, 236)
}

ul {
    list-style: none;
}

li:before {
    content: "$ ";
    color: #0087d7;
}

nav {
    margin-top: 40px;
    margin-bottom: 30px;
}

#example {
    width: 660px;
    height: 360px;
    border: 1px solid #444;
    position: relative;
}