// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  color: white;
}
a {
  color: white;
}

.controls {
    opacity: 0.8;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    right: 0;
    bottom: 0;

  .slider {
    height: 5px;
    width: 200px;
    margin-right: 10px;
    display: inline-block;

    a {
      height: 13px;
    }
  }
}
