// Place all the styles related to the scripts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

h1 {
  color: white;
}
a {
  color: white;
}
