<!DOCTYPE html>
<html>
<head>
  <title>showterm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script>window.rescuejs = {token: "ec4214c8-29c1-48db-82a1-fba22ce8f989", loaded: new Date().getTime()};</script>
  <script src='http://rescuejs.com/assets/catcher.js?key=ec4214c8-29c1-48db-82a1-fba22ce8f989'></script>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-534235-16']);
    _gaq.push(['_setDomainName', 'showterm.io']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
